<html>

<head>
    <title>
        <h1>상품 검색</h1>
    </title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" . />
</head>

<body>
    <header>
        <h1>상품 검색</h1>
    </header>
    <center>
        <form action="/search" ,method="POST">
            <input type="text" name="keyword">
            <input type="submit" , value="검색">
            <!-- <form method="POST" , action="{{url_for('home')}}"> -->
            <!-- <input type="text" , name="keyword" , placeholder="keyword"> -->
            <!-- <button type="submit">검색</button> -->
            <!-- <form action="/method" method="POST"> -->
            <!-- <input type="text" , name="keyword"> -->
            <!-- <input type="submit" , value="확인"> -->
        </form>
    </center>
</body>

</html>